---
title: Tomato Punk
layout: layouts/home.njk
description: 番茄朋克，一个中国软件开发工程师的自娱自乐
date: Last Modified
---

<div>
  <h2>Translating!</h2>
  <ul>
      <li><b>maoni 诊断性能问题的工作流程系列(part0,part1,part2)</b> <b style = "color : red ">(校对审阅中)</b></li>
  </ul>
</div>


<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>